/* HeroSection.css */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000; /* Dark background */
    height: 100vh;
    color: white;
    padding: 20px;
  }
  
  .hero-content {
    max-width: 500px;
    padding-left: 2%;
  }
  
  .hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .hero-content h1 span {
    color: #007bff; /* Blue color for the word 'Easily' */
    text-decoration: underline;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .rent-now-btn {
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .hero-image {
    background-image: url('https://cdn.pixabay.com/photo/2018/01/22/22/14/wheel-3100158_1280.jpg'); /* Image of the bike */
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 90%;
    margin-bottom: 30px;
    border-radius: 100px;
    padding-left: 30px;
  }
  